.btn-extra-large {
  padding: 16px 20px;
  position: relative;
  background-color: #3737cc;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: white;
  border-radius: 1.5px;
  border: none;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}
.btn-extra-large::before {
  content: "";
  position: absolute;
  top: 0;
  right: -16px;
  height: 100%;
  width: 10px;
  transition: width 0.5s ease;
  z-index: -1;
}

.btn-extra-large:hover::before,
.btn-wrapper.hover .btn-extra-large::before {
  width: 120%;
  border-left: 6px solid #6f6fdf;
}

.btn-large {
  padding: 14px 20px;
  position: relative;
  background-color: #3737cc;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: white;
  border-radius: 1.5px;
  border: none;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}
.btn-large::before {
  content: "";
  position: absolute;
  top: 0;
  right: -16px;
  height: 100%;
  width: 10px;
  background-color: #2424a6;
  transition: width 0.5s ease;
  z-index: -1;
}

.btn-large:hover::before,
.btn-wrapper.hover .btn-large::before {
  width: 120%;
  border-left: 6px solid #6f6fdf;
}

.btn-medium {
  padding: 12px 20px;
  position: relative;
  background-color: #3737cc;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: white;
  border-radius: 1.5px;
  border: none;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}
.btn-medium::before {
  content: "";
  position: absolute;
  top: 0;
  right: -16px;
  height: 100%;
  width: 10px;
  background-color: #2424a6;
  transition: width 0.5s ease;
  z-index: -1;
}

.btn-medium:hover::before,
.btn-wrapper.hover .btn-medium::before {
  width: 120%;
  border-left: 6px solid #6f6fdf;
}

.btn-small {
  padding: 7px 20px;
  position: relative;
  background-color: #3737cc;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: white;
  border-radius: 1.5px;
  border: none;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}
.btn-small::before {
  content: "";
  position: absolute;
  top: 0;
  right: -16px;
  height: 100%;
  width: 10px;
  background-color: #2424a6;
  transition: width 0.5s ease;
  z-index: -1;
}

.btn-small:hover::before,
.btn-wrapper.hover .btn-small::before {
  width: 120%;
  border-left: 6px solid #6f6fdf;
}

.btn-color-primary {
  background-color: #3737cc !important;
}
.btn-color-primary::before {
  background-color: #2424a6 !important;
}
.btn-color-primary:hover::before,
.btn-wrapper.hover .btn-color-primary::before {
  border-left: 6px solid #6f6fdf !important;
}

.btn-color-secondary {
  background-color: #d5d5ff !important;
  color: #0e0b3e;
}
.btn-color-secondary::before {
  background-color: #b0b0ff !important;
}
.btn-color-secondary:hover::before,
.btn-wrapper.hover .btn-color-secondary::before {
  border-left: 6px solid #6f6fdf !important;
}

.btn-color-tertiary {
  background-color: white !important;
  color: #0e0b3e;
}
.btn-color-tertiary::before {
  background-color: #ededed !important;
}
.btn-color-tertiary:hover::before,
.btn-wrapper.hover .btn-color-tertiary::before {
  border-left: 6px solid #d1d1d2 !important;
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
}

.arrow-wrapper-extra-large {
  padding: 16px 20px;
  background-color: #2424a6;
  cursor: pointer;
}
.arrow-wrapper-large {
  padding: 13px 14px;
  background-color: #2424a6;
  cursor: pointer;
}
.arrow-wrapper-medium {
  padding: 11px 12px;
  background-color: #2424a6;
  cursor: pointer;
}
.arrow-wrapper-small {
  padding: 6px 9px;
  background-color: #2424a6;
  cursor: pointer;
}
.arrow-wrapper-primary {
  background-color: #2424a6;
}
.arrow-wrapper-secondary {
  background-color: #b0b0ff;
}
.arrow-wrapper-tertiary {
  background-color: #ededed;
}
.btntert-large {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #2424a6;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  background-color: transparent;
  border: none;
  padding: 0;
}
.btntert-large:hover .btntert-medium:hover .btntert-small:hover {
  padding-right: 4px;
}
.btntert-medium {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #2424a6;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  background-color: transparent;
  border: none;
  padding: 0;
}
.btntert-small {
  position: relative;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #2424a6;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  background-color: transparent;
  border: none;
  padding: 0;
}
